@model IEnumerable<SeminarManagementSystem.Models.TypeSeminar>

@{
    ViewData["Title"] = "Seminar Type";
}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-header">Seminar Type</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.typeSeminar_Title)
                        </th>

                        <th scope="col">Editting</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.typeSeminar_Title)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.typeSeminarID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.typeSeminarID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.typeSeminarID">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="container d-flex flex-column col-md-8" id="create-button">
                <button type="button"
                        class="col-4 align-self-end btn btn-primary btn-lg"
                        value="Create"
                        onclick="location.href='@Url.Action("Create", "TypeSeminar")'">
                    New Seminar Type
                </button>
            </div>
        </div>
    </div>
</div>
