@model IEnumerable<SeminarManagementSystem.Models.Organiser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.organiser_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.organiser_DOB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.organiser_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.organiser_DOB)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.organiserID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.organiserID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.organiserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
