@model SeminarManagementSystem.Models.EnrolmentSeminar

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EnrolmentSeminar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seminarTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seminarTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seminar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seminar.seminarID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attendeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.attendeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attendees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.attendees.attendeeID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="enrolmentSeminarID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
