@model SeminarManagementSystem.Models.EnrolmentSeminar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EnrolmentSeminar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seminarTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seminarTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seminar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seminar.seminarID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attendeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.attendeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attendees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.attendees.attendeeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.enrolmentSeminarID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
