@model IEnumerable<SeminarManagementSystem.Models.EnrolmentSeminar>

@{
    ViewData["Title"] = "Enrolment";
    ViewData["Icon"] = "";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.seminar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.attendees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.seminar.seminarID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.attendees.attendee_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.enrolmentSeminarID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.enrolmentSeminarID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.enrolmentSeminarID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
